@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-size: 10px;
} */
html {
    font-size: 16px;
    @screen md {
      font-size: 20px;
    }
    @screen lg {
      font-size: 26px;
    }
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 235, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 243, 235, 220;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #DAD6C8;
}

.jungle {
    background:
      url(/jungle-l.png) center left no-repeat;
    background-size: auto 100%;

    @screen md {
        background:
          url(/jungle-l.png) center left no-repeat,
          url(/jungle-r.png) center right no-repeat;
        background-size: auto 100%, auto 100%;
        font-size: 17px;
    }
}